.container {
  width: 100%;
  height: 100%;

  .header {
    position: fixed;
    z-index: 20;
    top: 0px;
    margin-inline: auto;

    width: 100%;
    height: 50px;

    padding: 1rem;

    display: flex;
    justify-content: space-between;

    border-radius: 10px;

    backdrop-filter: blur(10px);

    align-items: center;

    .logo {
      font-family: Alkatra;
      font-size: 25px;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        color: #ff4ca8;
      }
    }

    .other {
      height: 45px;
      display: flex;
      align-items: center;
      padding: 5px 10px;
      gap: 1rem;

      .limiter {
        border: 1px #00000055 solid;
        height: 100%;
      }

      .logout {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        aspect-ratio: 1/1;

        cursor: pointer;
        color: white;
        transition: 0.5s;
        &:hover {
          color: #ff4ca8;
        }

        svg {
          height: 25px;
        }
      }

      .me {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: max-content;

        transition: 0.5s;
        cursor: pointer;

        &:hover {
          color: #ff4ca8;
        }

        .image {
          display: flex;
          justify-content: center;
          height: 35px;
          aspect-ratio: 1/1;
          background-color: #00000055;
          border-radius: 50%;
          color: inherit;
          overflow: hidden;
        }

        .name {
          width: max-content;
          width: 100px;
          overflow-x: hidden;
          color: inherit;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .content {
    margin-top: 75px;
    margin-bottom: auto;
    height: 100%;
  }

  .wave-container {
    z-index: -99;
    position: fixed;

    height: 100vh;
    width: 100%;

    overflow: hidden;




      .wave {
        background-image: url(../assets/wave.svg);
        background-repeat: repeat-x;
        background-position: bottom;
        position: absolute;
        bottom: 0%;
        width: 200%;
        min-width: 3200px;

        height: 200px;
        animation: wave 0.5s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
        z-index: 1;

        &:nth-of-type(1) {
              bottom: -100px;
              animation: wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
              opacity: 1;
              z-index: -1;
            }
    
            &:nth-of-type(2) {
              bottom: -50px;
              animation: wave 20s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
              opacity: 1;
              z-index: -2;
            }
    
            &:nth-of-type(3) {
              animation: wave 30s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
              opacity: 1;
              z-index: -3;
            }
        }
      
      @keyframes wave {
        0% { margin-left: 0; }
        100% { margin-left: -1600px;}
      }
      @keyframes swell {
        0%, 100% {
          transform: translate(0, -30px);
        }
        50% {
          transform: translate(0, 5px);
        }
      }
        }
}

@media screen and (max-width: 520px) {
  .container {
    .header {
      padding: 1rem 5px;
      .logo {
        font-size: 18px;
        text-align: center;
      }

      .other {
        padding: 5px 0px;
        gap: 5px;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .container .header .other .me .name {
    display: none;
  }
}

@media screen and (max-width: 250px) {
.container .header .other {
  flex-wrap: wrap;

  .limiter {
    display: none;
  }
}
}