@import "./var.scss";

.container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .search-container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    // backdrop-filter: blur(5px);
    // -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-inline: auto;
    width: 90%;
    padding: 1rem;
    // height: 500px;

    display: flex;
    // align-items: center;
    flex-direction: column;
    gap: 1rem;

    .title-container {
      display: flex;
      align-items: center;
      position: relative;

      .title {
        margin-inline: auto;
        font-size: 25px;
        font-family: Alkatra;
      }
      .icons {
        position: absolute;
        right: 1rem;
        height: 30px;
        // border: 2px red solid;

        .container {
          // display: none;
          position: relative;
          .icon {
            position: absolute;
            height: 30px;
            top: 0px;
            right: 0;
            border-radius: 10px;
            color: #000000aa;
            aspect-ratio: 1/1;
            &:hover {
              color: #ffffffaa;
              background-color: #000000aa;
            }
          }
          .sub-icon {
            position: absolute;
            height: 10px;
            color: black;
            stroke: white;
            pointer-events: none;

            right: 0;
            top: 10px;
            //   // background-color: red;
            //   border-radius: 10px;
            //   color: #000000aa;
            //   position: absolute;
            aspect-ratio: 1/1;

            @keyframes toggle-up {
              100% {
                transform: rotate(180deg);
              }
            }
            @keyframes toggle-down {
              100% {
                transform: rotate(180deg);
              }
            }

            svg {
              transition: all 0.3s linear;
              transform: rotateZ(180deg);
              // animation: rotation 2s infinite linear;
            }

            &.open {
              svg {
                transform: rotateZ(0deg);
              }
            }
          }
        }
      }
    }

    .param-container {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s;
      height: max-content;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &.open {
        overflow: visible;
        max-height: 1000px;
      }

      .item {
        display: flex;
        gap: 2rem;
        align-items: center;

        padding: 0.2rem 0.5rem;
        border-radius: 10px;
        color: #000000aa;
        height: 50px;

        .title {
          margin-inline: auto;
          font-size: 15px;
          font-family: "Courier New", Courier, monospace;
          color: inherit;
          white-space: pre;
        }

        .icon {
          height: 20px;
          aspect-ratio: 1/1;
          color: inherit;
        }

        .input {
          width: 100%;
        }
      }
    }

    .error {
      mix-blend-mode: difference;
    }
  }

  .searchResult {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 0px 60px 20px 60px;

    .resultCardContainer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  .launchSearch {
    display: flex;
    justify-content: center;
    color: $pink;
    mix-blend-mode: difference;
    font-family: Montserrat;
    font-size: 30px;
  }

  .findNothing {
    display: flex;
    justify-content: center;
    color: $pink;
    mix-blend-mode: difference;
    font-family: Montserrat;
    font-size: 30px;

    h3 {
      width: 80%;
    }
  }
}
