@import "./var.scss";

.modal {
  width: 100%;
  height: fit-content;

  .overlayModal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.582);
    width: 100%;
    height: 100vh;
    z-index: 30;

    section {
      position: absolute;
      width: 400px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 50px;
      padding: 20px;
      border-radius: 20px;
      background-color: white;
      font-family: Montserrat;
      z-index: 1;
      color: black;
      text-align: center;

      h3 {
        font-weight: normal;
        text-align: center;
      }

      .choices {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;

        button {
          padding: 10px 20px;
          border-radius: 10px;
        }

        .del {
          background-color: #ff4ca8;
          color: white;
        }

        .cancel {
          background-color: rgba(218, 218, 218, 0.829);
          color: black;
        }
      }

      .btnClose {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          padding: 10px 25px;
          background-color: #ff4ca8;
          color: white;
          border-radius: 100px;
        }
      }
    }

    .listModal {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 500px;

      .listContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 300px;
        gap: 30px;
        overflow-y: auto;
      }

      .userLiked,
      .notification {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 5px 10px 5px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.568);
        cursor: pointer;

        .leftContent {
          display: flex;
          align-items: center;
          gap: 10px;
          text-align: center;

          .profilPic {
            display: flex;
            width: 30px;
            height: 30px;
            overflow: hidden;
            border-radius: 50%;

            img {
              object-fit: cover;
            }
          }
        }

        .rightContent {
          display: flex;
          align-items: center;
          height: 100%;
          gap: 10px;

          svg {
            height: 22px;
          }

          .chatIcon {
            &:hover {
              svg {
                color: $pink;
                transition: 0.3s;
              }
            }
            display: flex;
            align-items: center;

            svg {
              transition: 0.3s;
            }
          }

          .unblock {
            display: flex;
            align-items: center;
            color: $pink;
            height: 100%;
          }
        }
      }

      .notification {
        cursor: unset;

        .rightContent {
          svg {
            cursor: pointer;
          }
        }
      }
    }

    .notNotif {
      height: 200px;
    }

    .blockModalContainer {
      background-color: #f4eeee;
      .choices {
        .block,
        .unblock,
        .cancel {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          width: 130px;
          font-family: Montserrat;
          font-size: 14px;

          svg {
            height: 18px;
          }
        }
        .cancel {
          background-color: rgb(233, 233, 233);
          border: 1px solid rgba(0, 0, 0, 0.329);
        }

        .block {
          background-color: red;
          border: 1px solid rgba(0, 0, 0, 0.329);
        }

        .unblock {
          background-color: $pink;
          border: 1px solid rgba(0, 0, 0, 0.329);
        }
      }
    }

    .modalRest {
      width: 100%;
      height: 100%;
    }
  }
}

.containerApp {
  height: 100%;

  .App {
    height: 100%;
  }
}

@media screen and (max-width: 450px) {
  .modal .overlayModal section {
    width: 200px;
    .notification {
      .leftContent {
        flex-wrap: wrap;
      }
      .rightContent {
        height: 100%;
        align-items: flex-start !important;
      }
    }
  }
  .modal .overlayModal .listModal .userLiked {
    padding: 0px 0px 10px 0px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
  }
}
