@import "./var.scss";

.ProfilContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
  font-family: Montserrat;

  form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: rgba(128, 128, 128, 0.116);
    width: 90%;
    padding: 20px 30px;
    border-radius: 20px;

    label {
      color: $labelGrey;
    }

    .inputContainer {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .myTextInput {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        background-color: white;
        border: 1px solid $borderInput;

        input {
          position: relative;
          z-index: 1;
          border: none;
          padding: 10px 35px 10px 20px;
          width: 100%;
          background-color: transparent;
          font-size: 14px;
          font-family: Montserrat;
        }

        svg {
          position: absolute;
          right: 10px;
          z-index: 0;
          // color: $labelGrey;
          width: 20px;
        }
      }

      .myRadioInput {
        display: flex;
        align-items: center;
        gap: 15px;
      }

      .myRadioInput input[type="radio"] + label {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 24px;
        border: 1px solid var(--basic-dark, #192b3921);
        border-radius: 100px;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.75px;
        cursor: pointer;
      }

      .myRadioInput input[type="radio"]:checked + label {
        background-color: black;
        color: white;
      }

      .inactive {
        background-color: transparent;
        input {
          color: rgba(168, 168, 168, 0.692);
        }
        color: rgba(168, 168, 168, 0.692);
      }

      input[type="radio"] {
        display: none;
      }

      textarea {
        resize: none;
        outline: none;
        height: 150px;
        padding: 10px 20px;
      }
    }
  }

  .editIcon {
    &:hover {
      background-color: white;
      border: 1px solid #ff4ca8;
      transition: 0.3s;
      svg {
        color: #ff4ca8;
      }
    }
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 8px;
    border-radius: 50%;
    background-color: #ff4ca8;
    cursor: pointer;
    transition: 0.3s;

    svg {
      width: 22px;
      color: white;
    }
  }

  .editContainer {
    display: flex;
    position: fixed;
    right: 10px;
    bottom: 10px;
    gap: 2px;

    .confirmIcon,
    .cancelIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.3s;
      padding: 8px;
      border-radius: 50%;

      svg {
        width: 22px;
      }
    }

    .confirmIcon {
      &:hover {
        background-color: white;
        border: 1px solid #ff4ca8;
        transition: 0.5s;
        svg {
          width: 22px;
          color: #ff4ca8;
        }
      }

      background-color: #ff4ca8;
      border: 1px solid transparent;
      svg {
        color: white;
      }
    }

    .cancelIcon {
      &:hover {
        background-color: #ff4ca8;
        transition: 0.3s;
        border: 1px solid #ff4ca8;

        svg {
          color: white;
        }
      }
      background-color: white;
      transition: 0.3s;
      border: 1px solid #ff4ca8;

      svg {
        color: #ff4ca8;
      }
    }
  }
}
