.loginContainer {
  width: 100%;
  margin-top: 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  padding: 10px 30px;
}

.loginContainer header {
  position: absolute;
  left: 20px;
  top: 20px;
  font-family: Alkatra;
}

.loginContainer main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.loginContainer main h3 {
  font-weight: bold;
  font-size: 22px;
}

.loginContainer main p {
  color: #bbbbbb;
}

.loginContainer main section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.loginContainer main form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.registerInput {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.registerInput .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  z-index: 0;
  color: black;
  transition: 0.3s;
}

.registerInput label {
  position: absolute;
  left: 18px;
  top: 50%;
  color: black;
  font-size: 16px;
  transform: translateY(-50%);
  transition: 0.3s;
}

.error {
  font-family: monospace;
  margin-left: 10px;
  color: red;
  margin-top: 0.2rem;
  mix-blend-mode: difference;
}

.registerInput input {
  font-family: Montserrat;
  font-size: 16px;
  padding: 15px 20px;
  width: 100%;
  background-color: #ffffff;
  color: black;
  position: relative;
  border-radius: 10px;
  border: 1px solid #ffffff50;
  transition: 0.3s;
}

.registerInput input[type="text"] + label,
.registerInput input[type="number"] + label {
  cursor: text;
}

.registerInput input:focus {
  outline: 0;
  border: 1px solid #ff4ca8;
  transition: 0.3s;
}

.registerInput input:hover {
  border: 1px solid #ff4ca8;
  transition: 0.3s;
}

.registerInput input:not(:placeholder-shown) + label {
  top: -12px;
  transition: 0.3s;
  color: #ff4ca8;
}

.registerInput input:focus + label {
  top: -12px;
  transition: 0.3s;
}

.registerInput input:hover ~ label,
.registerInput input:hover ~ .icon,
.registerInput input:focus ~ .icon,
.registerInput input:focus ~ label {
  color: #ff4ca8;
  transition: 0.3s;
}

.bottomForm {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
}

.bottomForm p {
  cursor: pointer;
}

.bottomForm p:hover {
  color: #ff4ca8;
}

.loginButton {
  width: 100%;
  padding: 12px 0px;
  border-radius: 10px;
  background-color: #ff4ca8;
  font-family: Montserrat;
  font-size: 16px;
  color: white;
}

.dosLoginInput {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;

  .dosInput {
    width: 45%;
    flex: 1 0 200px;

    .Input {
      display: flex;
    }
  }
}

.selector {
  display: flex;
  flex-direction: column;

  .allButtons {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 20px;
    flex-wrap: wrap;

    label {
      left: 10px;
      top: -50%;
      color: #bbbbbb;
      font-size: 16px;
    }

    .selectorItem {
      flex: 1 0 200px;
      font-family: Montserrat;
      font-size: 16px;
      padding: 15px 20px;
      color: black;
      position: relative;
      z-index: 1;
      border-radius: 10px;
      border: 1px solid white;
      cursor: pointer;
      backdrop-filter: blur(10px);

      &.selected {
        color: white;
        background-color: #ff4ca8;
        border-color: #ff4ca8;
      }

      &:hover {
        border-color: #ff4ca8;
      }
    }
  }
}

.registerTextarea {
  position: relative;

  textarea {
    font-family: Montserrat;
    font-size: 16px;
    padding: 15px 20px;
    width: 100%;
    background-color: white;
    position: relative;
    border-radius: 10px;
    resize: none;
    border: 1px solid #ffffff50;
    transition: 0.3s;

    &:focus {
      outline: 0;
      border: 1px solid #ff4ca8;
      transition: 0.3s;
    }
    &:hover {
      border: 1px solid #ff4ca8;
      transition: 0.3s;
    }
    &:not(:placeholder-shown) + label {
      top: -10px;
      transition: 0.3s;
    }
  }

  label {
    position: absolute;
    top: 12px;
    left: 20px;
    color: black;
    cursor: text;
    transition: 0.3s;
  }
}

.registerTextarea textarea:not(:placeholder-shown) + label {
  top: -24px;
  transition: 0.3s;
  color: #ff4ca8;
}

.registerTextarea textarea:focus + label {
  top: -24px;
  transition: 0.3s;
}

.registerTextarea textarea:hover ~ label,
.registerTextarea textarea:hover ~ .icon,
.registerTextarea textarea:focus ~ .icon,
.registerTextarea textarea:focus ~ label {
  color: #ff4ca8;
  transition: 0.3s;
}

.photoContainer {
  margin-inline: auto;
  width: 50%;
  aspect-ratio: 1/1;
  cursor: pointer;

  background-image: radial-gradient(50% 50%, #202020 80%, #0000 81%);
  background-size: 5% 5%;
  overflow: hidden;
  display: flex;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }
}
