@import '../styles/var.scss';

.user-card-item {
  cursor: pointer;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  // backdrop-filter: blur(20px);
  position: relative;
  overflow: hidden;
  overflow-x: scroll;
  display: flex;
  // align-items: center;
  border-radius: 10px;
  // width: 100%;
  height: 80px;
  background-color: $pink;

  .mainContentCard {
    width: 100%;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .background {
    filter: blur(100px) contrast(1.75);
    // background-color: red;
    left: -300px;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    object-position: center;
  }

  svg {
    height: 40px;
  }

  .item-content {
    // min-width: 500px;
    width: 100%;
    height: 100%;

    display: flex;
    gap: 0.5rem;
    align-items: center;

    .limiter {
      height: 20%;

      border-radius: 10px;
      border: 1px solid #00000022;
    }

    .image {
      position: relative;
      height: 70px;
      width: 70px;
      aspect-ratio: 1/1;
      background-color: rgb(0, 0, 0);
      border-radius: 50%;

      // overflow: hidden;

      img {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }

      &.offline::after {
        content: "";
        position: absolute;
        width: 15px; /* Ajustez la taille de la pastille selon vos besoins */
        height: 15px; /* Ajustez la taille de la pastille selon vos besoins */
        background-color: $offlineColor; /* Couleur de la pastille pour l'état hors ligne */
        border-radius: 50%;
        bottom: 4px; /* Ajustez la position verticale selon vos besoins */
        right: 4px; /* Ajustez la position horizontale selon vos besoins */
        z-index: 3;
      }

      &.online::after {
        content: "";
        position: absolute;
        width: 15px; /* Ajustez la taille de la pastille selon vos besoins */
        height: 15px; /* Ajustez la taille de la pastille selon vos besoins */
        background-color: $onlineColor; /* Couleur de la pastille pour l'état hors ligne */
        border-radius: 50%;
        bottom: 4px; /* Ajustez la position verticale selon vos besoins */
        right: 4px; /* Ajustez la position horizontale selon vos besoins */
        z-index: 3;
      }
    }

    .name {
      font-size: 20px;
      color: #00000077;
    }

    .info {
      display: flex;
      gap: 0.5rem;
      height: 100%;
      align-items: center;

      .icon {
        height: 100%;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: top;
        svg {
          color: #00000077;
        }
      }

      .text {
        color: #00000077;
      }
    }

    &:hover {
      filter: brightness(0.8);
      // border: 1px solid #00000022;
    }

    .actions {
      height: 100%;
      // width: 50px;
      margin-left: auto;
      display: flex;

      gap: 1rem;

      .like {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        transition: 0.2s;
        color: #00000022;
        fill: transparent;
        &:hover {
          // fill: #ff4ca8;
          color: #ff4ca8;
        }

        // &.active {

        // }

        svg {
          fill: inherit;
          // height: 100%;
          width: auto;
        }
      }

      .limiter {
        height: 20%;

        border-radius: 10px;
        border: 1px solid #00000022;
      }
    }
  }
}
